/* フォントサイズの指定 ------------------------------------------------------------------------------------------*/
html { 
    font-size: 62.5%; /* 1rem = 10px */
    font-family: "Zen Maru Gothic", system-ui, sans-serif;
}



body {
    font-size: 1.6rem; /* 16px */
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* 背景画像の設定 ------------------------------------------------------------------------------------------*/
body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/static/img/diary_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    z-index: -1; /*内容残す*/
}


/* hタグ ------------------------------------------------------------------------------------------*/
h1 {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    color: rgba(0, 174, 255, 0.75);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    width: 110%;
    padding: 1rem;
}

h2 {
    color: #005795;
    line-height: 0rem;
    text-align: center;
}

/* カードのタイトル ------------------------------------------------------------------------------------------*/
h3 {
    width: 90%;
    background-color: rgba(0, 174, 255, 0.65);
    color:aliceblue;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem;
    text-align: center;
}

/* カード ------------------------------------------------------------------------------------------*/
.back-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.741);
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem 5rem 3rem;
    margin: 1rem;
}

.back-card, p{
    text-align: justify;
    width: 90%;
    font-size: large;
    font-weight: 400;
}

.dairy-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
}


.card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


input[type="text"],
input[type="password"] {
    width: 100%;              /* フォーム内で横いっぱい */
    padding: 0.8rem 1rem;  
    border-radius: 12px;      
    border: 2px solid #ccc;   
    box-sizing: border-box;   
}

#button {
    background: rgba(0, 174, 255, 0.75);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    font-family: "Zen Maru Gothic", system-ui, sans-serif;
    text-decoration: none;
}

#button:hover{
    background: rgba(0, 221, 255, 0.75);
}

input:focus {
    outline: none;                     /* デフォの青枠を消す */
    border:0.2rem, solid, #3fa9f5;              /* アクセントカラー */
}

/* imgタグ */
img {
    width: 50%;
    border-radius: 2rem;
    object-fit: cover;
    margin: auto;
}






/* その他 */
.self-center {
    display: flex;
    justify-content:center
}

.self-bolder {
    font-weight: bold;
}

.justify-center {
    text-align: justify;
}

.line-height {
    line-height: 0.5;
}

.a-list {
    display: flex;
    justify-content: space-between;
}

.created-at {
    display: flex;
    justify-content:center;
    font-size: 2rem; 
    color: #005795; 
    font-weight: bolder;
    letter-spacing: 0.3rem;
}