<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary_edit_option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_option.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <h1>My Diary</h1>
    <header>
        <div class="a-list">
            <a id="button" href="{{ url_for('admin') }}">back</a>
        </div>
    </header>
    <div class="top-card">
        <h2>Edit my diary</h2>
        <p style="text-align: center;">You can edit the diaries you have created. Click the edit button next to the diary you want to edit.</p>
    </div>
    <hr>
    {% if articles == [] %}
        <p class="top">No articles.</p>
    {% else %}
        <div class="card-list">
        {% for article in articles %}
        <div class="dairy-card">
            <h3>{{ article.title }}</h3>
            <p class="created-at">{{ article.created_at.strftime("%Y-%m-%d") }}</p>
                {% if article.img_name %}
                <img src="{{ url_for('static', filename='img/' ~ article.img_name) }}">
                {% else %}
                No image
                {% endif %}
            <div><br><a href="{{ url_for('edit', article_id = article.id) }}">Edit</a></div>
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <br>
    <div class="a-list">
        <a href="{{ url_for('admin') }}">back</a>
    </div>
    <br>
</body>

</html>